* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 5.625rem;
  background-color: rgb(255, 250, 160);
}
header .navbar {
  background-color: rgb(255, 250, 160);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
header .navbar h3 {
  display: inline;
  font-style: italic;
  font-weight: lighter;
  font-size: 5rem;
  align-items: center;
}
header .navbar .logo {
  width: 6.25rem;
  height: auto;
}
header .navbar .dropdown {
  margin-left: 50rem;
  margin-right: 50rem;
}
header .navbar .dropdown #dLabel {
  align-self: right;
  height: 3.75rem;
  width: 7.5rem;
  justify-content: left;
  border-color: rgba(255, 123, 0, 0.87);
  color: rgba(255, 123, 0, 0.87);
  background-color: rgba(240, 219, 136, 0.87);
  word-wrap: break-word;
  border-radius: 0.625rem;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
}
header .navbar .dropdown .dropdown-button,
header .navbar .dropdown .form-control,
header .navbar .dropdown .btn {
  display: block;
  width: 100%;
}
header .navbar .dropdown .dropdown-button:hover,
header .navbar .dropdown .form-control:hover,
header .navbar .dropdown .btn:hover {
  display: block;
}

.cuerpo {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: rgba(58, 0, 0, 0.6784313725);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: rgba(37, 102, 170, 0.862745098);
  color: white;
  height: 9vh;
  width: 100%;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  align-self: center;
}
.header__nav-list {
  list-style: none;
  display: flex;
  margin: 0;
}
.header__nav-list-item {
  margin-right: 1em;
}
.header__nav-list-link {
  color: #fff;
  text-decoration: none;
}

.main {
  flex: 1;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.main .productos {
  width: 100%;
  margin-top: -2rem;
  background-color: rgba(82, 110, 204, 0.959);
}
.main #product-list .card img {
  height: 200px;
  object-fit: cover;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  margin-top: 2em;
}
.footer__text {
  margin: 0;
}

.modal-content .modal-header .modal-title {
  font-weight: bold;
}
.modal-content .modal-body #cart-items .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-content .modal-body #cart-total {
  font-weight: bold;
}
.modal-content .modal-footer .btn-primary {
  background-color: rgba(37, 102, 170, 0.862745098);
  border-color: rgba(37, 102, 170, 0.862745098);
}
.modal-content .modal-footer .btn-primary:hover {
  background-color: #1e579d;
  border-color: #1e579d;
}

/* Contact Page Specific Styles */
.contact-section,
.contact-info {
  margin-bottom: 2em;
}
.contact-section__title,
.contact-info__title {
  margin-bottom: 1em;
  color: rgba(37, 102, 170, 0.862745098);
}
.contact-section__label,
.contact-info__label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.contact-section__input, .contact-section__textarea,
.contact-info__input,
.contact-info__textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact-section__button,
.contact-info__button {
  background-color: rgba(37, 102, 170, 0.862745098);
  color: #fff;
  border: none;
  padding: 0.75em 1.5em;
  border-radius: 5px;
  cursor: pointer;
}
.contact-section__button:hover,
.contact-info__button:hover {
  background-color: #1e579d;
}
.contact-section__textarea,
.contact-info__textarea {
  resize: vertical;
}

.contact-info__text {
  margin-bottom: 0.5em;
}

/* Social Icons */
.text-center {
  background-color: rgb(206, 169, 47);
}

.social-icons {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.social-icon {
  display: block;
  margin-bottom: 5px;
}

.social-icon img {
  width: 30px;
  height: 30px;
}

.btn-floating {
  position: relative;
}

.cuerpo {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: rgba(58, 0, 0, 0.6784313725);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: rgba(37, 102, 170, 0.862745098);
  color: white;
  height: 9vh;
  width: 100%;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  align-self: center;
}
.header__nav-list {
  list-style: none;
  display: flex;
  margin: 0;
}
.header__nav-list-item {
  margin-right: 1em;
}
.header__nav-list-link {
  color: #fff;
  text-decoration: none;
}

.main {
  flex: 1;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.main .productos {
  width: 100%;
  margin-top: -2rem;
  background-color: rgba(82, 110, 204, 0.959);
}
.main #product-list .card img {
  height: 200px;
  object-fit: cover;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  margin-top: 2em;
}
.footer__text {
  margin: 0;
}

.modal-content .modal-header .modal-title {
  font-weight: bold;
}
.modal-content .modal-body #cart-items .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-content .modal-body #cart-total {
  font-weight: bold;
}
.modal-content .modal-footer .btn-primary {
  background-color: rgba(37, 102, 170, 0.862745098);
  border-color: rgba(37, 102, 170, 0.862745098);
}
.modal-content .modal-footer .btn-primary:hover {
  background-color: #1e579d;
  border-color: #1e579d;
}

/* Contact Page Specific Styles */
.contact-section,
.contact-info {
  margin-bottom: 2em;
}
.contact-section__title,
.contact-info__title {
  margin-bottom: 1em;
  color: rgba(37, 102, 170, 0.862745098);
}
.contact-section__label,
.contact-info__label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.contact-section__input, .contact-section__textarea,
.contact-info__input,
.contact-info__textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact-section__button,
.contact-info__button {
  background-color: rgba(37, 102, 170, 0.862745098);
  color: #fff;
  border: none;
  padding: 0.75em 1.5em;
  border-radius: 5px;
  cursor: pointer;
}
.contact-section__button:hover,
.contact-info__button:hover {
  background-color: #1e579d;
}
.contact-section__textarea,
.contact-info__textarea {
  resize: vertical;
}

.contact-info__text {
  margin-bottom: 0.5em;
}

/* Social Icons */
.text-center {
  background-color: rgb(206, 169, 47);
}

.social-icons {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.social-icon {
  display: block;
  margin-bottom: 5px;
}

.social-icon img {
  width: 30px;
  height: 30px;
}

.btn-floating {
  position: relative;
}

@media (max-width: 320px) {
  body {
    width: 100%;
  }
  body main {
    width: 300%;
  }
  body .masthead {
    width: 0%;
    margin-right: 50%;
  }
  body .navbar {
    width: 300%;
  }
  body .cover-container {
    width: 100%;
  }
  body .masthead-brand {
    display: flex;
    align-items: flex-start;
    width: 3px;
    font-size: smaller;
  }
  body .logo {
    width: 20px;
    height: 20px;
    margin-left: 30px;
  }
  body #dLabel {
    max-width: 100%;
    overflow-wrap: break-word;
    margin-right: 300px;
  }
}
@media (min-width: 375px) {
  body .navbar {
    padding: 20px;
  }
  body .navbar .masthead-brand {
    font-size: 1.4em;
  }
  body .navbar .logo {
    width: 60px;
  }
  body .navbar #dLabel {
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: normal;
  }
}
@media (min-width: 425px) {
  body .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }
  body .navbar .masthead-brand {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  body .navbar .logo {
    width: 6rem;
    height: 3rem;
  }
  body .navbar .dropdown-button {
    width: auto;
  }
  body .navbar .dropdown-menu {
    width: auto;
  }
  body .navbar .form-control {
    width: auto;
    margin-bottom: 0;
  }
  body .navbar .btn {
    width: auto;
  }
  body .navbar #dLabel {
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: normal;
  }
}
@media (max-width: 678px) {
  body .container {
    display: flex;
    grid-template-rows: 50px 50px 50px 1fr 50px 50px 50px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "banner" "left-aside" "main" "right-aside" "low-content" "footer";
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-areas: "header" "main" "banner" "left-aside" "right-aside" "low-content" "footer";
  }
}
@media (max-width: 1366px) {
  .logo {
    margin-left: 10px;
    height: 1rem;
    width: 1rem;
  }
  #dLabel {
    margin-left: 70px;
    margin-top: -12px;
  }
  .container {
    display: flex;
    flex-wrap: nowrap;
  }
  .container .mb-3 {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .main {
    padding: 10px;
  }
  .card {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
