$pantallaprin: rgb(255, 250, 160);
$pantallaboton: rgba(240, 219, 136, 0.87);
$pantallon: rgb(201, 109, 23);
$pantallazo: rgb(206, 169, 47);
$font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$grid-gap: 10px;
$margin: 20px;
$breakpoint-mobile: 768px;
$font-family: Arial, sans-serif;
$primary-color: #2566aadc;
$hover-color: #1e579d;
$primary-color: #000000;
$secondary-color: #1e579d;
$text-color: #000000;
$highlight-color: #b10c0cce;
