.bg-light{
    background-color: $pantallaprin;
    width: 100%;
.container {
  background-color: $pantallaprin;
  color: $pantallon;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1310px;
    .row{
      background-color: $pantallaprin;
    .col-lg-2{
      background-color: $pantallon;
    }
    }
  }
}

  .social-icons {
    display: none;
    background-color: $pantallon;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(253, 143, 0);
  }
  
  .social-icon {
    display: block;
    margin-bottom: 5px;

  }
  
  .social-icon img {
    width: 30px;
    height: 30px;
  }
  
  .btn-floating {
    position: relative;
  }