header{
    height: 5.625rem;
    background-color: $pantallaprin;
.navbar{
    background-color: $pantallaprin;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
h3{
    display: inline;
    font-style: italic;
    font-weight: lighter;
    font-size: 5rem;
    align-items: center;
}
.logo{
width: 6.25rem;
height: auto;
}
.dropdown{
    margin-left: 50rem;
    margin-right: 50rem;
#dLabel{
    align-self: right;
    height: 3.75rem;
    width: 7.5rem;
    justify-content: left;
    border-color: $pantallon;
    color: $pantallon;
    background-color: $pantallaboton;
    word-wrap: break-word;
    border-radius: .625rem;
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: normal;
}
.dropdown-button,
.form-control,
.btn {
    display: block;
    width: 100%;
    &:hover{
        display: block;
}
}
}
}
}