header{
    height: 30px;
.navbar{
    background-color: $pantallaprin;
h3{
    font-style: italic;
    font-weight: lighter;
    font-size: 3.125rem;
    display: inline;
}
.logo{
width: 5rem;
height: 3.125rem;
margin-top: .5625rem;
align-self: left;
}
#dLabel{
    align-self: right;
    height: 3.75rem;
    width: 7.5rem;
    justify-content: center;
    border-color: $pantallon;
    color: $pantallon;
    background-color: $pantallaboton;
    border-radius: .625rem;
    &.dropdown-button{
        position: absolute;
    }
}
}
}
.dropdown{
    margin-left: 50rem;
    margin-right: 50rem;
&:hover{
    display: block;
.dropdown-menu{
    display: block;
}
}
}

.name {
    text-align: center;
    color: rgb(227, 252, 0);}

    .search-container {
        position: 100%;
        top: .625rem;
        right: .625rem;}