header{
    height: 5.625rem;
    
.navbar{
    color: $pantallon;
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: column;
.cover-container{
    width: 100%;
}
.masthead-brand{
    display: inline;
    font-style: italic;
    font-weight: lighter;
    align-items: center;
    font-size: 2.5rem;
}
.logo{
width: 6.25rem;
height: auto;
}
.dropdown{
#dLabel{
    align-self: right;
    height: 3.75rem;
    width: 7.5rem;
    justify-content: left;
    border-color: $pantallon;
    color: $pantallon;
    background-color: $pantallaboton;
    border-radius: .625rem;
    max-width: 100%;
}
.dropdown-button,
.form-control,
.btn {
    display: block;
    width: 100%;
    &:hover{
        display: block;
}
}
}
}
}