

.carousel-inner{
  margin-top: 2rem;
}

// carrito.html
.cuerpo {
  background-image: url('https://thumbs.dreamstime.com/b/close-up-pasta-machine-effortlessly-extruding-fresh-noodles-factory-319545266.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
header{
  background-color: #1e579d;
  height: 2.5rem;
  width: auto;
  display: flex;
  flex-direction: row-reverse;
  .header__nav {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
  #dLabel{
    height: 3.75rem;
    width: 7.5rem;
    border-color: $pantallon;
    color: rgba(212, 34, 34, 0.445);
    background-color: rgb(243, 0, 20);
    border-radius: .625rem;
    align-self: right;
}
}
}

.main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
.container {
  display: flex;
  flex-direction: column;
  #product-list {
    width: 100%;
    height: 20%;
    .card {
      img {
        height: 600px;
        object-fit: cover;
  .col{
    height: 120px;
      }
    }
  }
}
}
}
.footer{
background-color: rgb(90, 64, 204);
}
}

// contacto.html

.bod {
  background-color: rgba(169, 209, 192, 0.13);
  padding: 1rem;
  color: $text-color;
  background-image: url(/assets/DSC_0141\ \(2\));
.head {
  background-color: $highlight-color;
  padding: 1rem;
  border-radius: 12px;
  margin-top: 12px;
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__title {
      color: $text-color;
      font-size: 2.5rem;
      font-style: italic;
      font-weight: lighter;
    }
    .dropdown{
      #dLabel{
        border-color: $pantallon;
        color: rgba(0, 0, 0, 0.76);
        background-color: rgba(94, 15, 22, 0.486);
        border-radius: .625rem;
        align-self: right;
  }
    .dropdown-button {
      background-color: $primary-color;
      color: rgb(0, 0, 0);
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

    .dropdown-menu {
      background-color: white;
      border: 1px solid $primary-color;

      .nav-link {
        color: $text-color;
        padding: 0.5rem 1rem;

        &:hover {
          background-color: $primary-color;
          color: white;
        }

        &.active {
          background-color: $secondary-color;
          color: white;
        }
      }
    }

    .d-flex {
      display: flex;
      align-items: center;

      .form-control {
        margin-right: 0.5rem;
      }

      .btn-outline-success {
        border-color: $primary-color;
        color: $primary-color;

        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }
  }

.contact-section,
.contact-info {
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  border-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;

  &__title {
    margin-bottom: 1rem;
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: $text-color;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  &__button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color;
    }
  }

  &__textarea {
    resize: vertical;
  }
}

.contact-info__title {
  margin-bottom: 1rem;
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-info__text {
  margin-bottom: 0.5rem;
  color: $text-color;
}

.footer {
  padding: 1rem;
  background-color: $highlight-color;
  text-align: center;
  border-radius: 12px;

  .footer__text {
    margin: 0;
    color: $text-color;
    border-radius: 12px;
  }
 }
}