//carrito.html

body{
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #2566aadc;
    color: white;
    padding: 20px;
    text-align: center;
    height: 9vh;
    width: 200vh;
  }
  
  .main {
    flex: 1;
    padding: 20px;
  }

  .productos{
    width: 200vh;
    margin-top: -2rem;
    background-color: rgba(82, 110, 204, 0.959);
  }
  
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  #product-list {
    .card {
      img {
        height: 200px;
        object-fit: cover;
      }
    }
  }
}