@media (max-width: 320px) {
  .main {
    width: 100%;
  }

  .masthead {
    width: 100%;
  }

  .navbar {
    width: 100%;
  }

  .cover-container {
    width: 100%;
  }

  .masthead-brand {
    display: flex;
    align-items: flex-start;
    width: 3px;
    font-size: smaller;
  }

  .logo {
    width: 20px;
    height: 20px;
    margin-left: 30px;
  }

  #dLabel {
    max-width: 100%;
    overflow-wrap: break-word;
    margin-right: 300px;
  }
}

@media (min-width: 375px) {
  .navbar {
    padding: 20px;

    .masthead-brand {
      font-size: 1.4em;
    }

    .logo {
      width: 60px;
    }

    #dLabel {
      max-width: 100%;
      overflow-wrap: break-word;
      white-space: normal;
    }
  }
}

@media (min-width: 425px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

    .masthead-brand {
      font-size: 1
    }
  }
}